<div class="banner">
  <%= image_tag "banner.jpg", class: "banner-image" %>
  <div class="banner-text">
    <h1>My Lists</h1>
  </div>
</div>

<div class="container">
  <div class="title d-flex justify-content-start align-items-center p-3">
    <h1 class="p-3">My Lists</h1>
    <%= link_to new_list_path do %>
      <i class="fa-solid fa-square-plus p-3"></i>
    <% end %>
  </div>
  <div class="lists-card">
    <div class="row">
      <% @lists.each do |list| %>
        <div class="col-md-4">
          <div class="card-overlay">
            <%= image_tag list.image_url.present? ? list.image_url : 'default_image.jpg', class: "card-img" %>
            <div class="overlay-text">
              <h5><%= link_to list.name, list_path(list) %></h5>
            </div>
            <div class="icon-trash">
              <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
